.rootLayout{
    padding: 16px 64px;
    height: 100vh ;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: bold;
            margin-top: 10px;

        img{
            width: 33px;
            height: 33px;
        }

        }
        .l-text{
            color: #fff6a9;
            font-size: 1.3em;
            font-weight: bold;
            border-left: 2px solid #9eff00;
            padding-left: 10px;



        }

    }
    main {
        flex: 1;
        overflow: hidden;
    }
}

