.homepage {
    display: flex;
    align-items: center;
    gap: 300px;
    height: 100%;

    @media screen and  (max-width: 1024px) {
        flex-direction: column;
        gap: 0;
    }
}

/*--------------------The left side----------------*/

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
    text-align: center;
    margin-top: -7%;

    h1 {
        font-size: 3.5em;
        background: linear-gradient(115deg, #c5f9d7, #f7d486, #f27a7d);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        @media screen and  (max-width: 1280px) {
             font-size: 2.4em;
        }

    }
    h2 {
        color: #d1d1d1;
        font-size: 1.3em;
        margin-bottom: 10px;

        @media screen and  (max-width: 1024px) {
            max-width: 100%;
            font-size: 1.1em;
        }
    }
    span {
        color: #d4ff16;
    }
    h3 {
        font-weight: 400;
        max-width: 70%;
        font-size: 0.9em;

        @media screen and  (max-width: 1024px) {
            font-size: 0.9em;
        }
    }
}

/*---------------------The button------------------*/

.GStartedBtn {
    margin-top: 290px;
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9em;
    padding: 0.8em 1.3em 0.8em 0.9em;
    position: absolute;
    z-index: 1;
    color: #000000;
    background: #51bd00;
    background: linear-gradient(115deg, #fff720, #3cd500);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    box-shadow: 1px 1px 11px #fff720, -1px -1px 7px #3cd500;

    @media screen and  (max-width: 1024px) {
        font-size: 0.7em;
    }

}

.GStartedBtn svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.GStartedBtn span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    color: #000000;
}

.GStartedBtn:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.GStartedBtn:hover span {
    transform: translateX(7px);
}

/*--------------------The right side----------------*/

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;


    .imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        width: 70%;
        height: 50%;
        position: relative;
        background: linear-gradient(115deg, #1a1a1a, #072b00);

        @media screen and  (max-width: 1024px) {
            width: 95%;
            height: 55%;
            margin-bottom: 45px;
        }

        .bgContainer {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 25px;
            border-radius: 50px;
            box-shadow: 1px 1px 16px rgba(209, 253, 146, 0.49), -1px -1px 16px rgba(255, 246, 169, 0.53);

        }

        .bg {
            width: 100%;
            height: 100%;
            padding-top: 25em;
            background-image: url('/public/bg.png');
            background-size: cover;
            background-position: center;
            opacity: 0.2;
            position: relative;
            z-index: 1;
        }

        .bot {
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: 1;
            animation: 3s ease-in-out infinite alternate bot;
            position: relative;
            z-index: 2;
        }
    }
}
    .chat {
        position: absolute;
        bottom: -26px;
        right: -15px;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 9px;

        border-radius: 15px;
        color: #ffffff;
        font-size: 0.7em;
        background: rgba(179, 255, 152, 0.43);
        box-shadow: 0 8px 32px 0 rgba(220, 255, 0, 0.64);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border: 1px solid rgba(90, 255, 0, 0.25);


        @media screen and  (max-width: 1024px) {
            font-size: 0.5em;
            font-weight: bold;
        }
        @media screen and  (max-width: 1280px) {
            right: 0;
        }

        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;

            @media screen and  (max-width: 1024px) {
                width: 10px;
                height: 20px;


            }

        }
    }


/*--------------------The orbital animation----------------*/

.orbital {
    position: absolute;
    top: -500px;
    bottom: 0;
    left: -370px;
    opacity: 0.09;
    overflow: hidden;
    animation: 100s linear infinite RotateOrbital;


    @media screen and  (max-width: 1024px) {
        top: -300px;
        left: -200px;
        width: 600px;
        height: 600px;
    }

}

.terms {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    @media screen and  (max-width: 1024px) {
        bottom: 12px;
    }

    img {
        width: 25px;
        height: 25px;

        @media screen and  (max-width: 1024px) {
            width: 20px;
            height: 20px;
        }
    }

    .links {
        display: flex;
        gap: 10px;
        color: rgba(187, 255, 138, 0.41);
        font-size: 12px;

        @media screen and  (max-width: 1024px) {
            font-size: 0.5em;
        }

    }
}


@keyframes RotateOrbital {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bot {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.1) rotate(0deg);
    }
}

